<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>We're Sorry</h2>
    <p>Your order was not accepted</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>